p{
    background-attachment:fixed;
    background-color: red;
    background-repeat: repeat;
    background-size: cover;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    width: fit-content;
<<<<<<< HEAD
=======
    
>>>>>>> ceeb2947e3593a8e826e7759d892dbc59552b6da
}

