p{
    background-attachment:fixed;
    background-color: red;
    background-repeat: repeat;
    background-size: cover;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    width: fit-content;
    
}

