body {
    min-width: 5000px;
    min-height: 5000px;

}

.one {
    position: relative;
    bottom: 10;
    left: 0;
    background-color: red;
    width: fit-content;
}

.two {
    position: sticky;
    top: 0;
    right: 0;
    background-color: blue;
    max-width: 100px;
    text-align: center;
}

.three {
    background-color: greenyellow;
    width: fit-content;
    position: static;
}

.four {
    background-color: rosybrown;
    width: fit-content;
    position: fixed;

}